/*
 * Java Final Group 11 Project
 * Class: CST8319
 * Author: Shanghao Li
 * Student ID: 040903008
*/

.registration-container {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registration-container form div {
    margin-bottom: 15px;
}

.registration-container label {
    display: block;
    margin-bottom: 5px;
}

.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="password"],
.registration-container select,
.registration-container button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registration-container button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.registration-container button:hover {
    background-color: #555;
}

.flex-item input[type="text"] {
    width: 100%;
}

.dropdown-checkbox {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 200px; /* Maximum height before scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px;
    border-radius: 4px;
}


.dropdown-content label {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle; /* Aligns checkbox and label vertically */
}

.dropdown-content input[type=checkbox] {
    margin-right: 10px;
    vertical-align: middle; /* Aligns checkbox vertically label */
}

label.checkbox-choice{
    margin-bottom: 0;
}

.subscription-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1px;
    justify-content: flex-start;
    margin-left: 5px;
    flex: 1;
}

.show {display: block;}


